.profil-button {
    background: none;
    border: none;
    color: var(--primary);
    font-weight: 500;
    padding: 0;
}


.button-right-orientated {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
}

/* Buttons */
.btn-custom {
    width: 100%;
    border-radius: .5rem;
    padding: .75rem;
    font-weight: 600;
    color: white;
    background-color: var(--primary);
    transition: background-color .2s ease;
    border: none;
}
.btn-custom:hover { background-color: var(--primary-hover); }

/* Small icon button */
.icon-btn { border: 0; background: transparent; padding: .25rem .4rem; }