.app-main-invoice {
    flex: 1;
    display: flex; /* ← important */
    flex-direction: row; /* default, optional */
}
/* Invoice container */
.invoice-container {
    background-color: white;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}