.sidebar {
    width: 320px;
    border-right: 1px solid var(--border-strong);
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 16px;
}

.search {
    display: flex;
    align-items: center;
    background: var(--background-light);
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--border-subtle);
}

.search input {
    border: none;
    background: transparent;
    outline: none;
    margin-left: 8px;
    color: inherit;
}