<div th:fragment="siteHeader">
    <header class="bg-primary text-white p-3 mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="h3 m-0">Craftnote</h1>
            <nav>
                <a class="text-white mx-2" th:href="@{/}">Home</a>
                <a th:text="#{client}" class="text-white mx-2" th:href="@{/clients}"></a>
                <a th:text="#{signup}" class="text-white mx-2" th:href="@{/register}"></a>
                <a th:text="#{signin}" class="text-white mx-2" th:href="@{/login}"></a>
            </nav>
        </div>
    </header>
</div>